<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    在这个项目里，这个XML文件其实什么工作都不需要做-->
    <!--    <context:component-scan base-package="com.hzero.demo.springmvc"/>-->

</beans>
